<component name="ArtifactManager">
  <artifact type="war" name="Spring_REST:war">
    <output-path>$PROJECT_DIR$/Spring_REST/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_REST</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Real_Time_Database_App.war">
      <element id="artifact" artifact-name="Spring_REST:war exploded" />
    </root>
  </artifact>
</component>