<component name="ArtifactManager">
  <artifact type="war" name="Spring_Security_Start:war">
    <output-path>$PROJECT_DIR$/Spring_Security_Start/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_Security_Start</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring_Security_Start.war">
      <element id="artifact" artifact-name="Spring_Security_Start:war exploded" />
    </root>
  </artifact>
</component>