<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_REST:war exploded">
    <output-path>$PROJECT_DIR$/Spring_REST/target/Real_Time_Database_App</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Spring_REST</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_REST" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Spring_REST/target/Real_Time_Database_App/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring_REST/web/Web" />
    </root>
  </artifact>
</component>